src/main/mule/get-weather-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="ff30460f-37b5-438a-b09d-8242a0cdb6cc" >
		<wsc:connection wsdlLocation="http://localhost:8080/GlobalWeather?wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" />
	</wsc:config>
	

	<flow name="weather-api-main">
        <http:listener config-ref="weather-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   "status": "400",
   "statusCode": "Bad request"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status": "404",
  "statusCode": "Resource Not Found"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   "status": "405",
   "statusCode": "Method not allowed"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   "status": "405",
    "statusCode": "Not acceptable"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   "status": "415",
   "statusCode": "Unsupported media type"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="weather-api-console">
        <http:listener config-ref="weather-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status": "404",
  "statusCode": "Resource Not Found"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\getWeather\getWeatherByCityAndCountry:weather-api-config">
		<flow-ref doc:name="Get Weather By City and Country" doc:id="860a83bc-d32c-4fdb-8ad8-c65a8517a612" name="get-weather-by-city-country" />
    </flow>
    
    <sub-flow name="get-weather-by-city-country" doc:id="1f1ba8db-e383-4b4f-a004-0c038f762080">
		<logger level="INFO" doc:name="Log Start" doc:id="6fb1b7a0-040b-4187-8bb5-330b61857cef" message="Get Weather by city and country" />

	<wsc:consume operation="GetWeather" doc:name="Invoke SOAP operation" doc:id="0e0556ac-951b-49e4-b807-3778247a0c34" config-ref="Web_Service_Consumer_Config">
			<wsc:message >
				<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: attributes.queryParams.CityName,
		ns0#CountryName: attributes.queryParams.CountryName
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<ee:transform doc:name="Set Payload" doc:id="5df611d9-8550-4cc9-abb9-90d77690e5af">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="f11102d2-6265-4f3a-be4d-4da3ae8e5d4e" >
			<when expression="#[payload != null]" > 
				<flow-ref doc:name="Data Mapping" doc:id="9f445c6e-f402-4743-a22b-8b895b3ce912" name="data-mapping" />
				<set-payload value="#[payload]" doc:name="Set Payload " doc:id="86eeae5c-bc62-4cd8-aac9-076c514d5118" mimeType="application/xml" />
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	city: payload.NewDataSet.Location,
	time: payload.NewDataSet.Time,
	wind: payload.NewDataSet.Wind,
	visibility: payload.NewDataSet.Visibility,
	skyConditions: payload.NewDataSet.SkyConditions,
	temperature: payload.NewDataSet.Temperature as String,
	dewPoint: payload.NewDataSet.DewPoint,
	relativeHumidity: payload.NewDataSet.RelativeHumidity as String,
	weatherStatus: payload.NewDataSet.Status
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2e5bd14f-c7ad-4208-adeb-314f44af62c0" />
				<logger level="INFO" doc:name="Log End" doc:id="262d08c4-1b45-435f-bdbc-fa83484fe333" message="Process Complete" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Payload Null" doc:id="a52975bc-293e-455d-bb78-6b77e2db3e70" message="Payload is Null"/>
			</otherwise>
		</choice>
	</sub-flow>
	
	<sub-flow name="data-mapping" doc:id="dc8867ce-f5a6-4485-8180-87db7cdfd4f8" >
		<ee:transform doc:name="Get Weather Response" doc:id="dbd479ab-5dcf-4aef-a7bd-a1511f30c0eb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.body.GetWeatherResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Remove Extra Information" doc:id="7a97731c-94b8-4db0-a76c-660b85a56d8a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
(payload as String replace "&lt;" with "<") 
	 replace "<![CDATA[" with "" 
	 replace "]>" with ""
	 replace "]" with ""
	 replace "&gt;" with ">"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	
	
	<flow name="get:\getWeather\getCitiesByCountry:weather-api-config">
		<flow-ref doc:name="Get Cities by Country" doc:id="642399e4-fcc2-4fd5-9cd2-f74e23cecd06" name="get-cities-by-country" />
    </flow>
	
	<sub-flow name="get-cities-by-country" doc:id="9d56c30c-1eac-4ad2-a206-0e0fe100dd0e">
		<logger level="INFO" doc:name="Log Start" doc:id="c3c4015f-5ad8-46d0-8825-ea490e827ec5" message="Get Weather by city and country" />

	<wsc:consume operation="GetWeather" doc:name="Invoke SOAP operation" doc:id="fe418fb7-5304-4736-989c-ed9cca79603b" config-ref="Web_Service_Consumer_Config">
			<wsc:message >
				<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: attributes.queryParams.CountryName
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<ee:transform doc:name="Set Payload" doc:id="e1ac556f-46d9-4c79-bb67-43787391e149">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="4cc167f4-9afd-4a8f-a278-22f296ad94e2" >
			<when expression="#[payload != null]" > 
				<flow-ref doc:name="Data Mapping" doc:id="9f60b58e-5855-458e-8d0d-20d48d148e64" name="data-mapping-cities" />
				<set-payload value="#[payload]" doc:name="Set Payload " doc:id="a6f9162f-d227-4660-b2f0-fe2e4fdc2216" mimeType="application/xml" />
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ 
	cities: payload.NewDataSet.*Table.City
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e6643e95-5e82-4c86-9767-b7f13daf0258" />
				<logger level="INFO" doc:name="Log End" doc:id="acfdbbd5-4101-4139-832f-266627249570" message="Process Complete" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Payload Null" doc:id="7586c052-f53b-4d5c-9ff3-220a0efbb82f" message="Payload is Null"/>
			</otherwise>
		</choice>
	</sub-flow>
	
	<sub-flow name="data-mapping-cities" doc:id="d4ca8619-cc01-4f39-b8a7-4f0ebc8e4b64" >
		<ee:transform doc:name="Get Weather Response" doc:id="60487bad-c73b-4ab6-b887-9e64e9b6bab5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.body.GetCitiesByCountryResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Remove Extra Information" doc:id="c34f3f7f-e304-455e-8f21-d71176eebac2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
(payload as String replace "&lt;" with "<") 
	 replace "<![CDATA[" with "" 
	 replace "]>" with ""
	 replace "]" with ""
	 replace "&gt;" with ">"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	
</mule>
